/* VIDEO SECTION */

.title-background {
  height: 20vh;
}

#video {
  max-width: 100vw;
  min-height: 100vh;
  display: grid;
  place-content: center;
}

#video figure {
  position: relative;
}

#video figure img {
  width: 800px;
}

/* MAIN FOUNDERS SECTION */

#main_founders {
  max-width: 100vw;
  min-height: 100vh;
}

#main_founders section {
  width: 100%;
  display: flex;
  gap: 2rem;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}

#main_founders figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main_founders figure div {
  display: grid;
  place-content: center;
  height: 230px;
  width: 230px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 1rem;
}

#main_founders figure img {
  width: 230px;
  aspect-ratio: 1 / 1;
  transition: all 0.3s ease;
}

#main_founders figure div:hover img {
  transform: scale(1.1);
}

#main_founders figure figcaption {
  background: #eee;
  padding-top: 2rem;
  height: 250px;
  width: 330px;
  line-height: 1.8;
}

#main_founders figure figcaption p {
  font-size: 1.3rem;
}

/* FAQ STYLING */

#faq_section {
  min-height: 100vh;
  padding-bottom: 2rem;
}

#faq_section section p {
  padding: 1rem 2.8rem;
}

#faq_section section section {
  overflow: hidden;
  max-height: 90px;
  transition: all 0.3s ease;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

#faq_section section section.active {
  max-height: 300px;
}

#faq_section article {
  height: 90px;
  max-width: 100vw;
  margin: 0 2rem;
  padding: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#faq_section article h3 {
  font-size: 1.7rem;
  font-weight: lighter;
}

#faq_section .answer_toggle {
  background: var(--BTN-COLOR);
  border: none;
  cursor: pointer;
  font-weight: lighter;
  transition: all 0.3s ease;
}

#faq_section .answer_toggle.active {
  transform: rotate(180deg);
}

#faq_section .answer_toggle img {
  width: 20px;
}

@media screen and (max-width: 865px) {
  /* VIDEO SECTION */

  #video figure img {
    width: 650px;
  }
}

@media screen and (max-width: 790px) {
  #main_founders figure figcaption {
    height: 230px;
    width: 310px;
  }

  #main_founders figure figcaption p {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 690px) {
  #video figure img {
    width: 580px;
  }
}

@media screen and (max-width: 620px) {
  #video figure img {
    width: 90vw;
  }
}
