/*NAVIGIATION*/

nav {
  background: var(--BG-COLOR);
  width: 80px;
  padding: 1rem;
  height: 100vh;
  display: unset;
  transition: all 0.4s ease;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

nav ul {
  display: grid;
}

nav ul .side_icon {
  height: 60px;
  width: 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

nav ul li {
  height: 60px;
  display: flex;
  align-items: center;
}

nav.active ul .side_icon {
  border-bottom: none;
}

nav.active ul li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

nav ul:first-child li:has(.expand_icon_container) {
  border-bottom: none;
}

nav ul li div {
  display: grid;
  place-content: center;
}

nav ul li p {
  opacity: 0;
  white-space: nowrap;
  transition: all 0.4s ease;
  transform: translateX(10px);
}

.expand_icon_container {
  height: 30px;
  width: 40px;
  display: grid;
  place-content: center;
  cursor: pointer;
}

.expand_icon {
  height: 1px;
  width: 30px;
  background: var(--FONT-COLOR);
  position: relative;
}

.expand_icon::before,
.expand_icon::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: inherit;
  left: 0;
}

.expand_icon::before {
  top: -10px;
}

.expand_icon::after {
  bottom: -10px;
}

.about_icon {
  position: relative;
}

.about_icon img {
  border: 1px solid var(--FONT-COLOR);
  border-radius: 50%;
}

.about_icon span {
  position: absolute;
  display: grid;
  place-content: center;
  bottom: 1px;
  right: 0;
  height: 15px;
  width: 15px;
  font-size: 0.6rem;
  background: var(--BG-COLOR);
  border-radius: 50%;
  border: 1px solid var(--FONT-COLOR);
}

nav.active {
  width: 300px;
}

nav.active ul li p {
  opacity: 1;
}

/* STUDENT OPTION SIDE BAR */

.student_option_sideBar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 280px;
  background: var(--BG-COLOR);
  opacity: 0;
  transform: translateX(100%);
  transition: all 0.3s ease;
}

.student_option_sideBar.active {
  z-index: 100000;
  opacity: 1;
  transform: translateX(0);
}

.ok_btn {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}

.ok_btn button {
  background: white;
  color: var(--BG-COLOR);
  height: 30px;
  width: 80px;
  border: none;
  border-radius: 5px;
  outline: none;
  outline-color: none;
  font-size: 1rem;
}

.student_options {
  margin-top: 1rem;
  display: flex;
  color: var(--FONT-COLOR);
  flex-direction: column;
  font-size: 1.1rem;
}

.student_options h2 {
  font-weight: light;
  padding: 1rem;
}

.student_options li {
  border-bottom: 1px solid;
  padding: 1rem 0;
  padding-left: 1rem;
  transition: all 0.3s ease;
}

.student_options li:hover,
.student_options li.active {
  background: white;
  color: var(--BG-COLOR);
}

/* DASH BOARD CONTENT */

/* PROFILE */

#profile {
  max-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#profile figure {
  width: 90vw;
}

#profile figure figcaption {
  display: flex;
  padding-right: 1rem;
  flex-direction: column;
}

#profile .header,
#profile .nav_elements {
  min-height: 13vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.title {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.title p {
  font-size: 2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: lighter;
  color: var(--BG-COLOR);
}

.student_switch {
  display: flex;
  align-items: flex-end;
  width: 260px;
}

.student_switch .student_switch_icon_container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 19px;
  height: 10px;
  transition: all 0.3s ease;
}

.student_icon_container,
.pic_container {
  width: 40px;
  display: grid;
  place-content: center;
}

.student_switch p {
  font-weight: lighter;
  font-size: 1rem;
  margin-left: 0.2rem;
}

/* LOWER PORTION OF DASHBOARD HEADER */

.nav_elements {
  font-size: 2.7rem;
  font-weight: lighter;
}

.nav_elements section ul {
  display: flex;
  font-size: 1rem;
  align-items: center;
  width: 260px;
}

.nav_elements section ul li:first-child {
  width: 19px;
  font-size: 1.5rem;
}

.nav_elements section ul li:last-child {
  margin-left: 0.2rem;
}

/* DASHBOARD SIDE BAR AND NAVBAR RESPONSIVE DESIGN */

@media screen and (max-width: 990px) {
  /* DASH BOARD CONTENT */

  /* PROFILE */

  #profile .header,
  #profile .nav_elements {
    height: 15vh;
  }

  .student_switch p {
    font-size: 1rem;
  }

  /* LOWER PORTION OF DASHBOARD HEADER */

  .nav_elements {
    font-size: 2.3rem;
  }

  .nav_elements section ul {
    font-size: 1rem;
  }
}

@media screen and (max-width: 893px) {
  #profile figure {
    width: 91vw;
    padding-left: 1rem;
  }
}

@media screen and (max-width: 780px) {
  #profile figure {
    width: 90vw;
  }
}

@media screen and (max-width: 740px) {
  .student_switch,
  .nav_elements section ul {
    width: 220px;
  }
}

@media screen and (max-width: 685px) {
  #profile figure {
    width: 88vw;
  }

  .nav_elements {
    font-size: 1.9rem;
  }
}

@media screen and (max-width: 595px) {
  #profile figure {
    width: 100vw;
    padding-left: 6rem;
  }

  .student_switch,
  .nav_elements section ul {
    width: 60px;
  }

  .student_switch p,
  .nav_elements section ul li:last-child {
    display: none;
  }
}

@media screen and (max-width: 488px) {
  nav ul li svg,
  nav ul li div img {
    width: 30px;
  }
}

@media screen and (max-width: 442px) {
  .nav_elements {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 378px) {
  .title {
    gap: 0.2rem;
  }

  .title p {
    font-size: 1.3rem;
  }

  .nav_elements {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 373px) {
  nav.active {
    width: 100vw;
  }
}

@media screen and (max-width: 350px) {
  nav {
    width: 60px;
    padding: 0.6rem;
  }
}

/* DASHBOARD CONTENT */

#dashboard {
  display: flex;
  justify-content: flex-end;
  max-width: 100vw;
  padding-bottom: 4rem;
  padding-left: 80px;
}

#dashboard_inner {
  display: flex;
  justify-content: space-evenly;
}

/* UPCOMING EVENTS */

.title-background h1 {
  font-size: 1.7rem;
}

.title-background .styler {
  width: 40px;
}

/* WEEKLY EVENTS */

.weekly {
  display: flex;
  gap: 1rem;
  row-gap: 1.6rem;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.weekly article {
  width: 280px;
  height: 160px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.06);
  color: black;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}

.weekly article h1 {
  font-size: 1.3rem;
  font-weight: lighter;
  opacity: 0.7;
}

.weekly article p {
  font-size: 1.4rem;
  color: var(--BG-COLOR);
  font-weight: lighter;
}

/* MONTHLY EVENTS */

.calendar_container {
  display: grid;
  place-content: center;
}

.calendar_container table {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.06);
  border-radius: 20px;
  padding: 1rem;
}

.calendar_container table tr {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.calendar_container table tr td {
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 1.3rem;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: grid;
  place-content: center;
}

.calendar_container table tr td.set {
  background: var(--BG-COLOR);
  color: var(--FONT-COLOR);
}

/* STUDENT EVALUATION CONTENT */

.evaluation_cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.evaluation_cards article {
  width: 300px;
  height: 320px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.06);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
}

.evaluation_cards h1 {
  flex-basis: calc(100% / 6);
  display: grid;
  place-content: center;
  color: black;
  font-size: 1.3rem;
  opacity: 0.7;
  font-weight: lighter;
}

.percentage {
  flex-grow: 1;
  display: grid;
  place-content: center;
}

.percentage span {
  border: 10px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  width: 150px;
  height: 150px;
  display: grid;
  place-content: center;
  color: var(--BG-COLOR);
  font-size: 1.5rem;
}

#evaluation article button {
  background: var(--BG-COLOR);
  border: 1px solid;
  color: white;
  padding: 0.5rem 0.9rem;
  border-radius: 5px;
}

/* EVALUATION DETAILS */

.evaluation_details {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0;
  transition: 0.3s ease;
  backdrop-filter: blur(5px);
  display: grid;
  place-content: center;
}

.details {
  aspect-ratio: 4 / 3;
  width: 50vw;
  background: var(--FONT-COLOR);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.06);
  z-index: -1;
}

.evaluation_details.detail {
  opacity: 1;
  z-index: 10000;
}

/* DASHBOARD CONTENT STYLES */

@media screen and (max-width: 775px) {
  /* WEEKLY EVENTS */

  .title-background h1 {
    font-size: 1.5rem;
  }

  .title-background .styler {
    width: 30px;
  }

  .weekly article {
    width: 260px;
    height: 140px;
  }

  .weekly article h1 {
    font-size: 1.1rem;
  }

  .weekly article p {
    font-size: 1.2rem;
  }

  /* MONTHLY EVENTS */

  .calendar_container table {
    transform: scale(0.9);
  }

  /* STUDENT EVALUATION CONTENT */

  .evaluation_cards article {
    width: 270px;
    height: 310px;
  }

  .percentage span {
    width: 130px;
    height: 130px;
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 690px) {
  #dashboard_inner {
    flex-direction: column;
  }
}

@media screen and (max-width: 400px) {
  /* WEEKLY EVENTS */

  .title-background h1 {
    font-size: 1.3rem;
  }

  .title-background .styler {
    width: 25px;
  }

  .weekly article {
    width: 240px;
    height: 130px;
  }

  .weekly article h1 {
    font-size: 1.1rem;
  }

  .weekly article p {
    font-size: 1.1rem;
  }

  /* MONTHLY EVENTS */

  .calendar_container table tr td {
    font-size: 1rem;
    height: 40px;
    width: 40px;
  }

  /* STUDENT EVALUATION CONTENT */

  .evaluation_cards article {
    width: 230px;
    height: 300px;
  }

  .percentage span {
    width: 120px;
    height: 120px;
    font-size: 1.1rem;
  }

  #evaluation article button {
    padding: 0.5rem 0.8rem;
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 350px) {
  #dashboard {
    padding-left: 60px;
  }
}

@media screen and (max-width: 330px) {
  .weekly article {
    width: 220px;
    height: 125px;
  }
}

/* DASHBOARD FOOTER SECTION */

footer {
  padding-left: 6rem;
}

/* DASHBOARD FOOTER RESPONSIVE DESIGN */

@media screen and (max-width: 870px) {
  #sub_footer {
    gap: 1rem;
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 475px) {
  footer p {
    font-size: 1.4rem;
    white-space: nowrap;
  }
}

@media screen and (max-width: 405px) {
  footer p {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 377px) {
  #sub_footer ul li {
    border-right: none;
  }
}

/* DASHBOARD BLUR */

.dashboard_blur {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(4px);
  z-index: -1;
  opacity: 0;
  transition: all 0.5s ease;
}

.dashboard_blur.blur {
  z-index: 100;
  opacity: 1;
}

.dashboard_blur.blur2 {
  z-index: 10000;
  opacity: 1;
}
