.title-background {
  height: 20vh;
}

/* SCHOOL DIVISIONS STYLING */

#school-divisions {
  min-height: 80vh;
  max-width: 100vw;
}

#school-divisions article {
  display: flex;
  gap: 2rem;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-bottom: 2rem;
}

#school-divisions figure {
  width: 30vw;
  aspect-ratio: 4 / 3;
  position: relative;
}

#school-divisions figure img {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: -1;
}

#school-divisions figure .bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(2px);
  z-index: -1;
  opacity: 0;
  transition: all 0.3s ease;
}

#school-divisions figure figcaption {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  padding: 1rem;
  z-index: 10;
}

#school-divisions figure figcaption {
  opacity: 0;
  transition: all 0.3s ease;
}

#school-divisions figure figcaption h1 {
  font-size: 1.5rem;
}

#school-divisions figure figcaption p {
  font-weight: lighter;
  text-shadow: 5px 5px 10px var(--FONT-COLOR);
}

#school-divisions figure a:any-link {
  width: 42px;
  height: 42px;
  display: grid;
  place-items: center;
  transition: all 0.3s ease;
  position: absolute;
  bottom: 10px;
  right: 10px;
  opacity: 0;
  border-radius: 50%;
  background: white;
}

#school-divisions figure a:any-link img {
  width: 30px;
  height: 14px;
  z-index: 1;
}

#school-divisions figure a:any-link #school-divisions figure:hover .bg,
#school-divisions figure:hover a:any-link,
#school-divisions figure:hover figcaption,
#school-divisions figure:hover .bg {
  opacity: 1;
}

/* QUOTE SECTION */

.quote {
  height: 20vh;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
}

.quote q {
  font-size: 1.3rem;
}

.quote p {
  color: var(--BG-COLOR);
}

/* LANDING PAGE RESPONSIVE DESIGN */

@media screen and (max-width: 868px) {
  #school-divisions figure {
    width: 45vw;
  }
}

@media screen and (max-width: 545px) {
  #school-divisions figure {
    width: 300px;
  }
}

@media screen and (max-width: 348px) {
  #school-divisions figure {
    width: 280px;
  }
}
