/* FONT FAMILY */

@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

/* VARIABLES */

:root {
  --BG-COLOR: rgb(64, 128, 255);
  --BG-COLOR: #0b388b;
  --FONT-COLOR: white;
}

/*RESET*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather", sans-serif;
}

a:any-link {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

svg {
  cursor: pointer;
}

button {
  cursor: pointer;
}

img::selection {
  background: none;
}

/* FRONT PAGE DESIGN FOR LANDING AND ABOUT PAGES */

#front_page {
  display: flex;
  gap: 3rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-bottom: 1rem;
  max-width: 100vw;
}

#front_page .slider,
#front_page img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  object-fit: cover;
  transition: all 0.3s ease;
}

#front_page img[id] {
  opacity: 0;
}

#front_page img.active {
  animation: imageAppear 0.6s ease;
}

@keyframes imageAppear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#front_page h1 {
  color: var(--FONT-COLOR);
  font-size: 3.8rem;
  font-weight: normal;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  z-index: 2;
  text-align: center;
  padding: 1rem;
}

/* FRONT PAGE RESPONSIVE DESIGN */

@media screen and (max-width: 885px) {
  #front_page h1 {
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 775px) {
  #front_page h1 {
    font-size: 3.1rem;
  }
}

@media screen and (max-width: 690px) {
  #front_page h1 {
    font-size: 2.8rem;
  }
}

/* GENERAL STYLE FOR THE HEADER OF EACH PAGE */

.title-background {
  width: 100%;
  height: 10vh;
  text-align: center;
  color: black;
  display: flex;
  gap: 0.7rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title-background h1 {
  font-size: 2.2rem;
  font-weight: 500;
}

.styler {
  width: 80px;
  height: 2px;
  background: black;
}

/* NAVIGATION */

nav {
  width: 100vw;
  padding: 0.3rem 0;
  background: var(--BG-COLOR);
  color: var(--FONT-COLOR);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 1000;
  transition: all 0.3s ease;
}

nav h1 {
  padding: 0 2rem;
}

nav h1 img {
  width: 70px;
  transition: all 0.3s ease;
}

nav.scroll {
  padding: 0.2rem 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

nav.scroll h1 img {
  width: 60px;
}

nav section ul {
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  width: 60vw;
}

nav section ul li a:any-link {
  color: var(--MAIN-COLOR);
  font-size: 1.1rem;
  position: relative;
}

nav section ul li a:any-link::before {
  content: "";
  position: absolute;
  width: 0;
  bottom: -3px;
  height: 1px;
  background: white;
  transition: all ease 0.4s;
}

nav section ul li a:any-link:hover::before {
  width: 100%;
}

nav section ul li button {
  background: var(--MAIN-COLOR);
  border: none;
  outline: none;
  outline-color: none;
  cursor: pointer;
  transition: all ease-in 0.3s;
  height: 38px;
  width: 110px;
  position: relative;
  border: 1px solid white;
  border-radius: 4px;
}

nav section ul li button a:any-link {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: grid;
  place-content: center;
  color: black;
  color: var(--FONT-COLOR);
  font-size: 1.05rem;
  transition: all 0.3s ease;
}

nav section ul li button a:any-link::before {
  display: none;
}

nav section ul li button:hover {
  background: var(--FONT-COLOR);
  color: var(--BG-COLOR);
}

nav section ul li button:hover a:any-link {
  color: var(--MAIN-COLOR);
}

.side_bar_container {
  display: none;
}

/* NAVIGATION SECTION RESPONSIVE DESIGN */

@media screen and (max-width: 990px) {
  nav section ul {
    width: 70vw;
  }

  nav section ul li a:any-link {
    font-size: 1rem;
  }

  nav section ul li button a:any-link {
    font-size: 1rem;
  }
}

@media screen and (max-width: 842px) {
  nav section ul {
    width: 80vw;
    gap: 2.5rem;
  }
}

@media screen and (max-width: 630px) {
  nav section ul {
    width: 190px;
    flex-flow: row-reverse;
    gap: 1rem;
  }

  .side_bar_container {
    display: block;
  }

  .side_bar_icon_container {
    height: 40px;
    width: 40px;
    display: grid;
    place-content: center;
  }

  .side_bar_icon {
    width: 35px;
    height: 1.2px;
    background: white;
    position: relative;
    z-index: 1000;
    transition: all 0.3s ease;
  }

  .side_bar_container.active .side_bar_icon {
    background: transparent;
  }

  .side_bar_icon::before,
  .side_bar_icon::after {
    position: absolute;
    content: "";
    height: inherit;
    width: 100%;
    background: white;
  }

  .side_bar_icon::before {
    top: -10px;
    left: 0;
    transition: all 0.3s ease;
  }

  .side_bar_icon::after {
    bottom: -10px;
    left: 0;
    transition: all 0.3s ease;
  }

  .side_bar_container.active .side_bar_icon::before {
    top: 0;
    transform: rotate(-45deg);
  }

  .side_bar_container.active .side_bar_icon::after {
    bottom: 0;
    transform: rotate(45deg);
  }

  li.first {
    display: none;
  }

  nav section ul li:last-child {
    display: block;
  }

  .side_bar_container ul {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 7rem;
    background: var(--BG-COLOR);
    width: 200px;
    height: 100vh;
    transform: translateX(100%);
    transition: all 0.3s ease;
  }

  .side_bar_container.active ul {
    transform: translateX(0%);
  }

  .side_bar_container ul li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    width: 100%;
    padding-bottom: 1rem;
    padding-left: 1rem;
  }

  .side_bar_blur {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vw;
    width: 100%;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: -1;
    opacity: 0;
    transition: all 0.3s ease;
  }

  .side_bar_blur.blur {
    z-index: 100;
    opacity: 1;
  }
}

/* EVENT CALENDAR SECTION */

.event_calendar_display {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
}

.event_calendar_display table {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  padding: 1rem;
}

.event_calendar_display table tr {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.event_calendar_display table tr.month td {
  height: 40px;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  margin-bottom: 1rem;
}

.event_calendar_display table tr.month td h1 {
  font-size: 1.2rem;
  font-weight: lighter;
}

.event_calendar_display tr:not(.month) td {
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 1.3rem;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: grid;
  place-content: center;
}

.event_calendar_display table tr td.set {
  border: none;
  background: var(--BG-COLOR);
  color: var(--FONT-COLOR);
}

.event {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  padding: 1rem;
  margin-right: 1rem;
  width: 300px;
}

.event h1 {
  font-size: 1.2rem;
  color: black;
  font-weight: lighter;
  padding-top: 0.7rem;
  padding-left: 1rem;
  padding-bottom: 0.35rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.event ul {
  margin-top: 2rem;
  width: 80%;
}

.event ul li {
  display: flex;
  gap: 0.4rem;
  margin-bottom: 1rem;
}

.event_date {
  width: 20px;
}

.event_info {
  width: 100%;
  color: var(--BG-COLOR);
}

/* FOOTER STYLES */

/* TELEGRAM OPTIONS */

.telegram_bg {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0;
  transition: all 0.3s ease;
  backdrop-filter: blur(3px);
  display: grid;
  place-content: center;
}

.telegram_bg.active {
  z-index: 1000;
  opacity: 1;
}

.telegram_options {
  background: var(--FONT-COLOR);
  width: 310px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 0 1rem;
}

.telegram_options h1 {
  padding: 1rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
}

.telegram_options figure {
  display: flex;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  padding-right: 1rem;
}

.telegram_options figure:last-child {
  margin: 0;
}

.telegram_options figure div {
  flex-basis: calc(100% / 3.5);
  display: grid;
  place-content: center;
}

.telegram_options figure img {
  width: 60px;
  flex-grow: 1;
}

.telegram_options figure figcaption {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.telegram_options figure figcaption ul li:last-child {
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.5);
}

footer {
  background-color: var(--BG-COLOR);
  color: var(--FONT-COLOR);
}

footer p {
  padding: 2rem;
  display: grid;
  place-content: center;
  font-size: 2.1rem;
  font-weight: lighter;
}

#contact_info {
  display: flex;
  justify-content: space-evenly;
  max-width: 100vw;
}

#contact_info article {
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact_info article h1 {
  font-size: 1.5rem;
  font-weight: lighter;
  margin: 2rem 0;
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

#contact_info article h1 .caret_down_container {
  display: none;
}

#contact_info article figure {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 1rem;
}

.icon_container {
  width: 40px;
  height: 40px;
  display: grid;
  place-content: center;
}

.icon_container img {
  width: 30px !important;
}

#contact_info article figure figcaption {
  font-size: 1.1rem;
}

#contact_info article:last-child address {
  font-weight: lighter;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

#sub_footer {
  padding: 1rem;
  padding-top: 3rem;
  max-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#sub_footer article {
  font-size: 0.8rem;
  text-align: center;
}

#sub_footer ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

#sub_footer ul li {
  border-right: 1px solid white;
  padding-right: 1rem;
}

#sub_footer ul li a:any-link {
  color: white;
  font-size: 0.9rem;
}

#sub_footer ul li a:hover {
  text-decoration: underline;
}

/* FOOTER RESPONSIVE DESIGN */

@media screen and (max-width: 895px) {
  /* FOOTER STYLES */

  footer p {
    font-size: 1.8rem;
  }

  #contact_info article h1 {
    font-size: 1.3rem;
  }

  .icon_container img {
    width: 28px !important;
  }

  #contact_info article figure figcaption {
    font-size: 1rem;
  }

  #sub_footer article {
    font-size: 0.8rem;
  }

  #sub_footer ul {
    gap: 0.9rem;
  }

  #sub_footer ul li {
    padding-right: 0.9rem;
  }

  #sub_footer ul li a:any-link {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 812px) {
  #sub_footer {
    flex-flow: column-reverse;
    gap: 1.6rem;
    padding-bottom: 1.6rem;
  }
}

@media screen and (max-width: 765px) {
  #contact_info {
    flex-direction: column;
  }

  #contact_info article {
    align-items: flex-start;
    width: 100%;
    padding-left: 1rem;
    border-bottom: 0.7px solid rgba(255, 255, 255, 0.3);
    overflow: hidden;
    height: 95px;
    transition: all 0.3s ease;
  }

  #contact_info article:has(address) {
    height: 90px;
    padding-bottom: 1.5rem;
  }

  #contact_info article.active {
    height: 220px;
  }

  #contact_info article:has(address).active {
    height: 150px;
  }

  #contact_info article h1 .caret_down_container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 21px;
    height: 25px;
    transition: all 0.3s ease;
  }

  #contact_info article h1 .caret_down_container.active {
    transform: rotate(-180deg);
  }

  .caret {
    height: 12px;
    width: 1px;
    background: white;
    border-radius: 5px;
  }

  .caret:first-child {
    transform: rotate(-40deg);
  }

  .caret:last-child {
    transform: rotate(40deg);
  }
}

@media screen and (max-width: 425px) {
  nav h1 {
    padding: 0 1rem;
  }
}

@media screen and (max-width: 376px) {
  footer p {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 352px) {
  #sub_footer article {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 342px) {
  footer p {
    font-size: 1.4rem;
  }
}
