/* NEWS FEED */

#news_feed,
#events {
  display: flex;
  gap: 3rem;
  flex-direction: column;
  padding-top: 2rem;
}

#news_feed {
  padding-top: 6rem;
}

#news_feed .title-background .styler,
#events .title-background .styler {
  width: 45px;
}

/* NEWS AND EVENTS GENERAL STYLES */

.filter {
  max-width: 100%;
  display: grid;
  place-content: center;
}

.filter ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: var(--BG-COLOR);
  color: var(--FONT-COLOR);
  border: 1px solid black;
  border-radius: 10px;
}

.filter ul li {
  margin: 0.1rem 0;
  font-size: 1.2rem;
  height: 60px;
  width: 130px;
  display: grid;
  place-content: center;
  border-radius: 10px;
  cursor: pointer;
}

.filter ul li.active {
  background: white;
  color: var(--BG-COLOR);
}

@media screen and (max-width: 435px) {
  .filter ul li {
    height: 50px;
    width: 115px;
    font-size: 1rem;
  }
}

@media screen and (max-width: 400px) {
  .filter ul li {
    width: 110px;
  }
}

@media screen and (max-width: 395px) {
  .navigation h2 {
    font-size: 1.6rem;
  }

  .nav_icon {
    height: 35px;
    width: 35px;
  }

  .nav_icon img {
    width: 20px;
  }
}

@media screen and (max-width: 370px) {
  .filter ul li {
    width: 100px;
  }
}

@media screen and (max-width: 340px) {
  .filter ul li {
    width: 95px;
  }
}

/* NEWS CONTENT */

.news_content {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.news_content article {
  background: var(--BG-COLOR);
  color: var(--FONT-COLOR);
  padding: 1rem;
  border-radius: 5px;
  width: 600px;
  margin-bottom: 1rem;
}

.news_post {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  flex-flow: row-reverse;
  width: 100%;
  padding: 1rem 0;
}

.news_post img {
  width: 250px;
}

.news_information h2 {
  font-weight: light;
  font-size: 1.8rem;
  letter-spacing: 0.4px;
  margin: 0.8rem 0;
}

.news_information ul li {
  margin: 0.3rem 1rem;
  font-weight: lighter;
  display: flex;
  gap: 0.2rem;
}

.news_information ul li span {
  transform: translateY(2px);
}

.news_information ul li.call {
  margin-top: 1rem;
  display: flex;
  align-items: center;
}

.news_information ul li.call img {
  width: 20px;
}

/* NEWS SECTION RESPONSIVE DESIGN */

@media screen and (max-width: 615px) {
  .news_content article {
    width: 550px;
  }
}

@media screen and (max-width: 570px) {
  .news_post {
    flex-direction: column;
    align-items: center;
  }

  .news_content article {
    width: 95vw;
  }
}

/* UPCOMING EVENT */

#events {
  min-height: 100vh;
  width: 100%;
  margin-bottom: 2rem;
}

#calendar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 1rem;
}

.event_calendar_display {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
}

.event_calendar_display table {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  padding: 1rem;
}

.event_calendar_display table tr {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}
.event_calendar_display table tr.month td {
  height: 40px;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  margin-bottom: 1rem;
}

.event_calendar_display table tr.month td h1 {
  font-size: 1.2rem;
  font-weight: lighter;
}

.event_calendar_display tr:not(.month) td {
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 1.3rem;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: grid;
  place-content: center;
}

.event_calendar_display table tr td.set {
  border: none;
  background: var(--BG-COLOR);
  color: var(--FONT-COLOR);
}

.event {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  padding: 1rem;
  margin-right: 1rem;
  width: 300px;
}

.event h1 {
  font-size: 1.2rem;
  color: black;
  font-weight: lighter;
  padding-top: 0.7rem;
  padding-left: 1rem;
  padding-bottom: 0.35rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.event ul {
  margin-top: 2rem;
  width: 80%;
}

.event ul li {
  display: flex;
  gap: 0.4rem;
  margin-bottom: 1rem;
}

.event_date {
  width: 20px;
}

.event_info {
  width: 50%;
  color: var(--BG-COLOR);
}

@media screen and (max-width: 750px) {
  #calendar table tr {
    gap: 0.4rem;
    margin-bottom: 0.4rem;
  }

  #calendar table tr:not(.month) td {
    font-size: 1.1rem;
    height: 40px;
    width: 40px;
  }
}

@media screen and (max-width: 630px) {
  #calendar {
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    margin-left: 0;
  }

  .event {
    margin-right: 0;
  }
}

@media screen and (max-width: 370px) {
  #calendar table {
    padding: 0.5rem;
  }

  #calendar table tr {
    gap: 0.3rem;
    margin-bottom: 0.3rem;
  }

  #calendar table tr.month td {
    font-size: 1rem;
  }

  #calendar table tr:not(.month) td {
    height: 40px;
    width: 40px;
  }
}
