h1 img {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0.5rem 1rem;
}

.registration {
  display: grid;
  gap: 2rem;
  place-content: center;
  height: 100vh;
  background: url(registration_background.jpg);
  background-position: center;
  background-size: cover;
}

.registration h1 {
  font-size: 2.3rem;
  font-weight: lighter;
  text-align: center;
}

.registration form {
  display: grid;
  place-items: center;
  gap: 1.5rem;
}

.registration label {
  display: flex;
  gap: 0.2rem;
  flex-direction: column;
  width: 100%;
}

.input-label {
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.8);
}

input {
  padding-left: 0.5rem;
  height: 40px;
  width: 300px;
  font-size: 0.9rem;
  border: 1px solid rgba(0, 0, 0, 0.7);
  border-radius: 2px;
  outline: none;
}

.registration p {
  font-size: 0.9rem;
}

.registration p a:any-link {
  color: var(--BG-COLOR);
}

.registration p a:hover {
  text-decoration: underline;
}

.registration button {
  width: 140px;
  height: 50px;
  font-size: 1rem;
  background: var(--BG-COLOR);
  color: var(--FONT-COLOR);
  border: 1px solid;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 1px solid;
  outline: none;
  outline-color: none;
}

.registration button:hover {
  background: var(--FONT-COLOR);
  color: var(--BG-COLOR);
  border: 0.5px solid #333;
}

label[for="Phone_number"] div {
  width: 300px;
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.8);
}

label[for="Phone_number"] div span {
  border-right: 1px solid rgba(0, 0, 0, 0.8);
  height: 40px;
  display: grid;
  place-content: center;
  padding: 0.5rem;
  color: rgba(0, 0, 0, 0.7);
}

label[for="Phone_number"] div input {
  border: none;
}
