#main-content {
  padding-top: 5rem;
}

/* TERMS AND CONDITIONS */

#terms_and_conditions {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
  max-width: 100vw;
  padding: 0 2.5rem 4rem;
}

#terms_and_conditions li {
  font-size: 1rem;
  line-height: 1.8;
  font-weight: lighter;
  letter-spacing: 0.3px;
}

@media screen and (max-width: 660px) {
  #terms_and_conditions {
    display: flex;
    flex-direction: column;
  }

  .title-background h1 {
    font-size: 1.8rem;
  }

  .title-background .styler {
    width: 70px;
  }
}

@media screen and (max-width: 400px) {
  .title-background h1 {
    font-size: 1.5rem;
  }

  .title-background .styler {
    width: 55px;
  }
}
